<html>
  <head>
    <style>
      @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-Regular.woff2")
      format("woff2"); font-weight: 100 400; font-style: normal; font-display:
      swap; } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-RegularItalic.woff2")
      format("woff2"); font-weight: 100 400; font-style: italic; font-display:
      swap; } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-Medium.woff2")
      format("woff2"); font-weight: 500 600; font-style: normal; font-display:
      swap; } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-MediumItalic.woff2")
      format("woff2"); font-weight: 500 600; font-style: italic; font-display:
      swap; } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-Bold.woff2")
      format("woff2"); font-weight: 700 800; font-style: normal; font-display:
      swap; } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-BoldItalic.woff2")
      format("woff2"); font-weight: 700 800; font-style: italic; font-display:
      swap; } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-BlackItalic.woff2")
      format("woff2"); font-weight: 900; font-style: italic; font-display: swap;
      } @font-face { font-family: "CircularStd"; src:
      url("https://s3-sa-east-1.amazonaws.com/execution-mode.s3.getbud.co/auth0/fonts/CircularStd-Black.woff2")
      format("woff2"); font-weight: 900; font-style: normal; font-display: swap;
      }
    </style>

  </head>

  <body style="background-color: #DDDDDD; padding: 34px 0;">
    <center>
      <div
        style='
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
            margin: 0;
            padding: 44px 24px;
            border-collapse: collapse !important;
            background-color: #FFFFFF;
            width: 560px;
            border: 1px solid transparent;
            border-radius: 10px;
            box-shadow: 0px 0px 56px rgba(83, 83, 191, 0.07);
            font-family: "CircularStd", Arial, sans-serif;
          '
      >
        <img
          src="https://s3.sa-east-1.amazonaws.com/html-bag.s3.getbud.co/branding/bud-logotype-sm.png"
          alt="Logotipo do Bud"
          width="105"
          height="auto"
          style="
              -ms-interpolation-mode: bicubic;
              border: 0;
              height: auto;
              line-height: 100%;
              outline: none;
              text-decoration: none;
            "
        />
        <div style="padding: 44px 0; width: 400px;">
          <img
            style="width: 315px;"
            src="https://s3.sa-east-1.amazonaws.com/html-bag.s3.getbud.co/images/relaxed-coffe-woman.png"
            alt="Uma ilustração de uma mulher sorrindo enquanto toma café ou chá e mexe no computador."
          />
          <h1
            style="
              font-weight: 700;
              font-size: 24px;
              color: #364059;
              padding-top: 21px;
            "
          >
            {{recipientFirstName}}, vamos fechar a semana com chave de ouro? 😌
          </h1>

          <p
            style="
              color: #99A4C2;
              font-style: normal;
              font-weight: 450;
              font-size: 16px;
              line-height: 150%;
              margin-top: 20px;
            "
          >
            Você ainda tem <strong style="color: #6F6EFF;" >pendências</strong> para essa semana no Bud. Dedique alguns minutos para isso e parta para o fim de semana com aquela sensação de dever cumprido! 🎉
          </p>
        </div>
        <div>
            <a href="https://app.getbud.co/pt-BR">
              <button
                style="
                    border: 1px solid transparent;
                    border-radius: 6px;
                    background-color: #6F6EFF;
                    color: #FFFFFF;
                    font-size: 14px;
                    font-weight: 700;
                    padding: 16px 0;
                    width: 300px;
                    cursor: pointer;
                  "
              >
                Ver minha semana no Bud
              </button>
            </a>
        </div>
      </div>

      <img
        src="https://s3.sa-east-1.amazonaws.com/html-bag.s3.getbud.co/branding/bud-logotype-grayscale-sm.png"
        alt="Logotipo do Bud em tons de cinza"
        style="
            -ms-interpolation-mode: bicubic;
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            padding-top: 34px;
          "
      />
    </center>
  </body>
</html>
